
<html>
    <head>
        <title>fake job prediction</title>
    </head>
    <style>
        .div1{
            height: 80px;
            width: 100%;
            background-color: darkkhaki;
            /* background-image: url(''); */
        }
        .div2{
            width: 100%;
            height: 100%;
            /* background-color: cadetblue; */
            background-image: url('/static/newbg1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          
            /* padding-top: 20px; */
        }
        form
        {
          margin-left: 35%;
        }
        select
        {
          margin-left: 50px;
        }
    </style>
    <body>
        <!-- <div class="div1">
          <h1 align="center">FAKE JOB PREDICTION</h1>
        </div> -->
        <div class="div2">
            <form action="{{url_for('predict')}}" method="post">
              <h1 style="padding-left:40px ;">Fake Job Prediction</h1>
              <label for="title">Title</label>
              <select style="margin-left: 10%;" name="title" id="title">
                <option value=0>Accounting clerk</option>
                <option value=1>Application Developer</option>
                <option value=2>BI developer</option>
                <option value=3>Bill review manager</option>
                <option value=4>junior HR marketing manager</option>
                <option value=5>Lead guest service specialist</option>
                <option value=6>Marketing Manager</option>
                <option value=7>project Manager</option>
                <option value=8>Software Application Specialist</option>
                <option value=9>Talent Management process Manager</option>
                <option value=10>visual designer</option>
              </select><br><br>
              <label for="location">Location</label>
              <select style="margin-left: 7.5%;" name="location" id="location">
                <option value=0>Andhra</option>
                <option value=1>Anuranchal pradesh</option>
                <option value=2>Assam</option>
                <option value=3>Bihar</option>
                <option value=4>Chattisgarh</option>
                <option value=5>Goa</option>
                <option value=6>Gujarat</option>
                <option value=7>Karnataka</option>
                <option value=8>Kerala</option>
                <option value=9>Madhya Pradesh</option>
                <option value=10>Maharashtra</option>
                <option value=11>Manipur</option>
                <option value=12>Mizoram</option>
                <option value=13>Odisha</option>
                <option value=14>Punjab</option>
                <option value=15>Rajasthan</option>
                <option value=16>Tamilnadu</option>
                <option value=17>Telengana</option>
                <option value=18>Utter pradesh</option>
                <option value=19>West bengal</option>
              </select><br><br>
              <label for="department">Department</label>
              <select style="margin-left: 5.5%;" name="department" id="department">
                <option value=0>ANDRIODPIT</option>
                <option value=1>Business Developement</option>
                <option value=2>Financial</option>
                <option value=3>Market place</option>
                <option value=4>Oil & Energy</option>
                <option value=5>Playfair capital</option>
                <option value=6>Production</option>
                <option value=7>Sales</option>
                <option value=8>Sales and Business developement</option>
                <option value=9>Software developement</option>
              </select><br><br>
              <label for="srange">Salary Range</label>
              <input style="margin-left: 4.5%;" type="number" id="srange" name="srange"><br><br>
              <label for="cprofile">company profile</label>
              <select style="margin-left: 2.5%;" name="cprofile" id="cprofile">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select><br><br>
              <label for="description">Description</label>
              <select style="margin-left: 5.6%;" name="description" id="description">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select><br><br>
              <label for="requirements">Requirements</label>
              <select style="margin-left: 4.1%;" name="requirements" id="requirements">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select><br><br>
              <label for="benefits">Benefits</label>
              <select style="margin-left: 7.8%;" name="benefits" id="benefits">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select><br><br>
              <label for="tele">Telecommuting</label>
              <select style="margin-left: 3%;" name="tele" id="tele">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select><br><br>
              <label for="logo">Has company Logo</label>
              <select style="margin-left: 0.5%;" name="logo" id="logo">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select><br><br>
              <label for="qstns">Has questions</label>
              <select style="margin-left: 4%;" name="qstns" id="qstns">
                <option value=0>No</option>
                <option value=1>Yes</option>
              </select><br><br>
              <label for="type">Employment Type</label>
              <select style="margin-left: 1%;" name="type" id="type">
                <option value=0>Contract</option>
                <option value=1>Full-Time</option>
                <option value=2>Other</option>
                <option value=3>Part-Time</option>
                <option value=4>Temporary</option>
              </select><br><br>
              <label for="education">Required education</label>
              <select style="margin-left: 0.3%;" name="education" id="education">
                <option value=0>Associate degree</option>
                <option value=1>Bachlor's Degree</option>
                <option value=2>Certification</option>
                <option value=3>Doctorate</option>
                <option value=4>Highschool or Equivalent</option>
                <option value=5>Master's degree</option>
                <option value=6>Professional</option>
                <option value=7>some college coursework completed</option>
                <option value=8>Unspecified</option>
                <option value=9>Vocational</option>
              </select><br><br>
              <label for="experience">Required experience</label>
              <select style="margin-left: 0%;" name="experience" id="experience">
                <option value=0>Associate</option>
                <option value=1>Director</option>
                <option value=2>Entry level</option>
                <option value=3>Executive</option>
                <option value=4>Internship</option>
                <option value=5>Midsenior level</option>
                <option value=6>Not Applicable</option>
              </select><br><br>
              <label for="industry">Industry</label>
              <select style="margin-left: 8%;" name="industry" id="industry">
                <option value=0>Computer Software</option>
                <option value=1>Construction</option>
                <option value=2>Consumer Eletronics</option>
                <option value=3>Consumer Service</option>
                <option value=4>Education management</option>
                <option value=5>Events Service</option>
                <option value=6>Facilities Service</option>
                <option value=7>Financial Service</option>
                <option value=8>Hospital & Healthcare</option>
                <option value=9>Information Technology & Services</option>
                <option value=10>internet</option>
                <option value=11>Management Consulting</option>
                <option value=12>Marketing & Advertising</option>
                <option value=13>oil & Energy</option>
                <option value=14>online media</option>
                <option value=15>Teleommunications</option>
              </select><br><br>
              <label for="funtion">Function</label>
              <select style="margin-left: 7.5%;" name="function" id="function">
                <option value=0>Administrative</option>
                <option value=1>Customer Service</option>
                <option value=2>Design</option>
                <option value=3>Education</option>
                <option value=4>Engineers</option>
                <option value=5>HealthCare</option>
                <option value=6>Information technology</option>
                <option value=7>Management</option>
                <option value=8>Marketing</option>
                <option value=9>Production</option>
                <option value=10>Sales</option>
              </select><br>
              <input type="submit" value="submit">  
            </form>
        </div>
    </body>
</html>